<header>
    <div class="logo">
        <a href="/index.html" style="text-decoration: none;">
            <img src="https://pub-0c8edf09080540b191d021f3bf02a5a6.r2.dev/logo.png" alt="Aceverse"
                style="height: 45px;">
        </a>
    </div>
    <nav>
        <a href="/index.html#home">HOME</a>
        <a href="/index.html#solutions">SOLUTIONS</a>
        <a href="/index.html#approach">APPROACH</a>
        <a href="/index.html#contact">CONTACT</a>
        <div class="lang-switch" style="margin-left: 20px; font-weight: bold; display: inline-block;">
            <a href="/ua/" style="color: #fff; text-decoration: none;">UA</a> | <span style="color: #a06ff6;">EN</span>
        </div>
    </nav>
</header>