<header>
    <div class="logo">
        <a href="/index.html" style="text-decoration: none;">
            <img src="https://pub-0c8edf09080540b191d021f3bf02a5a6.r2.dev/logo.png" alt="Aceverse"
                style="height: 45px;">
        </a>
    </div>
    <nav>
        <a href="/index.html#home">ГОЛОВНА</a>
        <a href="/index.html#solutions">РІШЕННЯ</a>
        <a href="/index.html#approach">ПІДХІД</a>
        <a href="/index.html#contact">КОНТАКТИ</a>
        <div class="lang-switch" style="margin-left: 20px; font-weight: bold; display: inline-block;">
            <span style="color: #a06ff6;">UA</span> | <a href="/en/" style="color: #fff; text-decoration: none;">EN</a>
        </div>
    </nav>
</header>